<!doctype html>

<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">

<title>Python Course with Matin Karimpour</title>
<h2>Download python and VS code installer</h2>

<button>
	<a href="{{ url_for('.download_python') }}">
		
			<img src="{{ url_for('static', filename='Python.png') }}" alt="Python" width="50%" height="50%"> 
			python	
	</a>
</button>


<button>
	<a href="{{ url_for('.download_vscode') }}">		
	
			<img src="{{ url_for('static', filename='VScode.png') }}" alt="VS" width="50%" height="50%">
				 vscode
	
	</a>
</button>
